In [1]:
marks = int(input('Enter your marks: '))

print('Hurray! You Passed.')
print('Sorry! You Failed')

Enter your marks: 67
Hurray! You Passed.
Sorry! You Failed

### `if-else` statements

In [8]:
marks = int(input('Enter the marks: '))

if marks >= 35:
    print('Hurray! You Passed.')
else:
    print('Sorry! You Failed')

Enter the marks: 67
Hurray! You Passed.

In [7]:
marks = int(input('Enter the marks: '))

if marks >= 35 and marks <= 100:
    print('Hurray! You Passed.')
else:
    print('Sorry! You Failed')

Enter the marks: 210
Sorry! You Failed

### Nested If-else

In [15]:
marks = int(input('Enter the marks: '))

if marks >=0 and marks <= 100:
    if marks >= 35 and marks <= 100:
        print('Hurray! You Passed.')
    else:
        print('Sorry! You Failed')
else:
    print('Invalid Input. Please enter marks between 0 and 100.')

Enter the marks: 0
Sorry! You Failed

### if-elif-else statement

In [18]:
number = 0

if number >= 0:
    if number == 0:
        print('Zero')
    else:
        print('Positive')
else:
    print('Negative')

Zero

##### The above nested if else statements can be written with if-elif-else statements to make it look crisp

In [20]:
number = -10

if number == 0:
    print('Zero')
elif number > 0:
    print('Positive')
else:
    print('Negative')

Negative

marks < 35 - Failed

marks >= 35 and marks <= 50: Grade C
    
marks >= 51 and marks <= 65 : Grade B

marks >= 66 and marks <= 80 : Grade A

marks >= 81 and marks <= 100 : Outstanding

In [28]:
marks = int(input('Enter the marks : '))

if marks >=0 and marks <= 100:
    if marks < 35:
        print('Failed')
    elif marks >= 35 and marks <= 50:
        print('Grade C')
    elif marks >= 51 and marks <= 65:
        print('Grade B')
    elif marks >= 66 and marks <= 80:
        print('Grade A')
    else:
        print('Outstanding')
else:
    print('Invalid Input.')

Enter the marks : -10
Invalid Input.

## Loops

- while loops
- for loops

In [34]:
num1 = 10
num2 = 20

while num1 < num2:
    print('Hello')
    num2 -= 1

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [37]:
num1 = 10
list1 = []

while num1 < 15:
    value = int(input('Enter a number: '))
    list1.append(value)
    num1 += 1

Enter a number: 13
Enter a number: 14
Enter a number: 16
Enter a number: 99
Enter a number: 63

In [38]:
list1

[13, 14, 16, 99, 63]

### for loops

- for loop uses iterables(lists, tuples, sets, dictionaries, string, range keyword) to run the loop.

In [1]:
list1 = [1,2,3,4,5,6,7,8]

In [2]:
for value in list1:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [3]:
word = 'Python'

In [4]:
for char in word:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello

#### range keyword

In [11]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [12]:
list(range(1, 16))  #(start, stop+1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [2]:
list(range(1, 100, 10))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [14]:
numbers = list(range(1,21))

In [15]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
odd = []

for value in numbers:
    if value % 2 != 0:
        odd.append(value)

In [17]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
even = []

for value in numbers:
    if value % 2 == 0:
        even.append(value)

In [19]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
odd_new = []
even_new = []

for value in numbers:
    if value % 2 != 0:
        odd_new.append(value)
    else:
        even_new.append(value)

### Control Flow Statements

- break 
- continue

#### continue(skip an iteration)

In [21]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
for value in list1:
    if value == 5:
        continue
    print(value)

1
2
3
4
6
7
8

In [23]:
odd_list = []

for value in list1:
    if value % 2 == 0:
        continue
    odd_list.append(value)

In [24]:
odd_list

[1, 3, 5, 7]

#### break (stop the iteration)

In [25]:
for value in list1:
    if value == 5:
        break
    print(value)

1
2
3
4

### List Comprehension

In [26]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
squared = []

for value in list1:
    squared.append(value ** 2)

In [28]:
squared

[1, 4, 9, 16, 25, 36, 49, 64]

##### The above code can be written in a short and simple way using list comprehension as shown below

In [29]:
squared_new = [value**2 for value in list1]

In [30]:
squared_new

[1, 4, 9, 16, 25, 36, 49, 64]

##### Another example of list comprehension

In [37]:
new_list = [{value : value**2} for value in list1]

In [38]:
new_list

[{1: 1}, {2: 4}, {3: 9}, {4: 16}, {5: 25}, {6: 36}, {7: 49}, {8: 64}]

In [ ]:
##### Odd numbers list code with and without list comprehension

In [39]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
odd = []

for value in numbers:
    if value % 2 != 0:
        odd.append(value)

In [40]:
new_odd = [value for value in numbers if value % 2 != 0]

In [41]:
new_odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**Tasks to be performed**

1. Create a small database which has some username and passwords.
2. Ask the user for username and password. If those match with our database, then print Hello {username}.
3. If the username and password doesnot match with our database, then we ask them whether they want tot be added to the database.
4. If their response is Yes, then add them to the database, otherwise print a Good Bye message to them.
5. Show the updated Database.

In [42]:
database = {'virat': 3345, 'sharan': 6600, 'vipul':9054, 'krishna': 7732, 'chandan': 1100}

In [56]:
username = input('Enter your username: ').lower()

if username in database.keys():
    password = int(input('Enter your password: '))
    if database[username] == password:
        print(f'Hello {username}')
    else:
        print('Incorrect Password. Please try again.')
else:
    print('It seems that either your username is incorrect or you are not in our database.')
    response = input('Do you want to be added to the database? (Yes/No): ').lower()
    
    if response in ['yes', 'y']:
        password = int(input('Enter your password: '))
        database[username] = password
    else:
        print('Thank You for Visiting.')

print(database)

Enter your username: virat
Enter your password: 9000
Incorrect Password. Please try again.
{'virat': 3345, 'sharan': 6600, 'vipul': 9054, 'krishna': 7732, 'chandan': 1100, 'sachin': 7765, 'neha': 6655}