# <font color = 'darkgreen'>What is Python?
- Python is an interpreted, high-level, multipurpose programming language. Python is one of the most popular languages. It is being regarded as the language of Data Science these days.

### <font color = 'maroon'>So what makes Python popular? :

- **General-purpose language:** It is a general-purpose language and is lightweight and fast. Therefore, it can be used for many different purposes.

- **Support for Data Science:** Python was not built for Data Science but its general-purpose nature and the support of the community in providing third-party tools like Numpy, Pandas, matplotlib, and Scipy has made it the most popular in data science.

- **Flat learning curve:** Python has a very simple and easy to learn syntax and programming requirements which make it a popular choice for people who are not programmers. It is known for its usability.

- **Large active community:** Python has a very big active community of users. If someone faces an issue while working, there is a high probability that there will be solutions for it easily available on the Internet.

# <font color = 'dark-orange'>Literals and Variables

### Literals
A literal is nothing but a data types which conveys information. there are many kinds of literals in python where the four main datatypes are:
- integral values: `int`
- decimal values: `float`
- true or false statements: `bool`
- text data: `str`   
Apart from these, there are many other datas type which we'll we looking at later

In [ ]:
10

20.5

'Python'

True/False

### Variable
Variables are nothing but place holders to store the literal values. Variables can be accessed by their names and some rules have to be followed while naming variables

Naming conventions for variables:
- A variable name can only contain alphabets, numbers and under score
- A variable name can only start with an underscore or an alphabet
- A variable name can't be the same as any keyword(keywords are sequences of characters which have some special meaning to them)
- A variable name can't have any spaces between the various parts of the variable. If we want to distinguish them, we can use and underscore or make the variable name CamelCase
> variable_name
> VariableName
- It is suggested that we make our variable names as descriptive as possible
> a = 21
> age = 21

Storing a literal into a variable is called as assigning the variable with a literal and is accomplished using the equality(`=`) symbol

In [ ]:
num = 10

In [ ]:
name = 'Shikhar'

In [1]:
num1 = 10

In [2]:
num_2 = 20

In [3]:
_num3 = 30

In [4]:
4num = 40

SyntaxError: invalid syntax (<ipython-input-4-ea4f02c1c348>, line 1)

In [6]:
for = 50

SyntaxError: invalid syntax (<ipython-input-6-3cea8083ad91>, line 1)

In [9]:
first_name = 'Shikhar'

In [ ]:
firstName = 'Virat'

In [ ]:
FirstName = 'Rohit'

### Some of the rules in python
**Indentation matters in Python.** Note that the statements are entered from the first column in the new line. The Python interpreter will report an error if the program is typed as follows:

	print("Welcome to Python")
print("Python is fun")

**Donâ€™t put any punctuation at the end of a statement**. For example, the Python interpreter will report errors for the following code:

print("Welcome to Python").
print("Python is fun"),

**Python programs are case sensitive.** It would be wrong, for example, to replace print in the program with Print.

In [ ]:
Print('Hello')

# <font color = 'dark-orange'>Writing comments in python
Comment is not a python statement and thus is ignored by python interpreter. But, it is plain text that documents what the program is and how it is constructed.

It is always good to write a comment that describes purpose of each statement included in a program.

It increases readability of the program.

In Python, one can write comments as:
1. Single line comment starting with a pound (#) sign
2. Paragraph comment that starts and ends with three consecutive single quotes (''') or three consecutive double quotes (""").

In [12]:
#Declared a variable first_name
#
#
first_name = 'Shikhar'

# <font color = 'dark-orange'>Python Keywords
**Keywords are the pre-defined or built-in words whose meaning is already known to python interpreter.**

Keywords are the reserved words in python

We can't use a keyword as variable name, function name or any other identifier

All the keywords except True, False and None are in lowercase and they must be written as is.

In [22]:
import keyword

print(keyword.kwlist)

#print(keyword.kwlist)
print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  35

# <font color = 'dark-orange'>Identifiers
**Identifiers are the user-defined names given to various program elements such as variable, function, class...etc.**

**Rules for Writing Identifiers:**

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_).

2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

3. Keywords cannot be used as identifiers.

4. No special symbol can be used

5. An identifier can be of any length.

**Note-1**: 
* Python is a case-sensitive language. This means, the identifiers amount, AMOUNT, and aMouNT are not the same. 
* Always name identifiers that make sense. For example, num is meaningful compared to x
* Multiple words can be separated using an underscore. Ex.,compound_interest
* We can also use camel-case style of writing, i.e., capitalize every first letter of the word except the initial word without any spaces. For example: camelCaseExample

In [13]:
num1 = 10

In [14]:
Num1 = 20

In [17]:
NUM1

NameError: name 'NUM1' is not defined

### Note: 2.
Python is dynamically typed language. i.e., a variable can hold different types of literals at different times. This is not possible with static-typed languages like C, C++ and Java.

In [22]:
num = 10
num = 20
num = 'Python'

In [23]:
num

'Python'

### Note: 3.
In Python, multiple variables are assigned with corresponding values within single assignment statement.

In [ ]:
num1 = 10
num2 = 20
num3 = 30

In [ ]:
#The code in the above can also be written like this
num1, num2, num3 = 10, 20, 30

In [ ]:
val1 = 40
val2 = 40
val3 = 40

In [37]:
#The code in the above cell can also be written like this
val1 = val2 = val3 = 40

In [38]:
id(val1)

140706048584720

In [39]:
id(val2)

140706048584720

In [40]:
id(val3)

140706048584720

### Note: 4. Type Conversion
You can convert one variable type to another type using type(value)

In [31]:
num1

10

In [32]:
type(num1)

int

In [35]:
num1 = float(num1)

In [36]:
num1

10.0

In [27]:
val1 = 30.3

In [28]:
int(val1)

30

In [29]:
str(num1)

'10'

In [30]:
int('Python')

ValueError: invalid literal for int() with base 10: 'Python'