# Operators

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

# Operator Types

1. Arithmetic operators
    
2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Bitwise operators

5. Assignment operators

6. Special operators

# Arithmetic Operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

    + , -, *, /, %, //, **  are arithmetic operators

Example:

In [1]:
num1 = 10
num2 = 20

In [2]:
num1 + num2

30

In [4]:
num1 - num2

-10

In [5]:
num1 * num2

200

In [7]:
num1 / 2

5.0

In [8]:
# modulo operator
9 % 2

1

In [10]:
# floor division
9 // 2

4

In [14]:
# exponential operator
8.5 ** 4.5

15218.966662792947

# Comparision Operators

* These operators will allow us to compare variables and output a Boolean value (True or False). 


* If you have any sort of background in Math, these operators should be very straight forward.


* First we'll present a table of the comparison operators and then work through some examples:


* In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [16]:
10 == 20

False

In [22]:
num1 == 10

True

In [33]:
10 != 20

True

In [24]:
10 > 20

False

In [25]:
10 < 20

True

In [27]:
10 >= 10

True

In [29]:
10 <= 10

True

In [31]:
num2 == 20

True

# Logical Operators

Logical operators are  **and, or, not** operators.

In [38]:
num = 15

In [39]:
num < 10

False

In [40]:
num > 0

True

In [41]:
num < 10 and num > 0

False

In [42]:
num < 10 or num > 0

True

In [44]:
not num > 20

True

# Assignment operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

    =,  +=,  -=,  *=,  /=,  %=,  //=,  **= are Assignment operators

In [53]:
num = 5

In [54]:
num = num + 5

In [ ]:
num += 5

In [55]:
num = num - 2

In [52]:
num -= 2

In [56]:
num = num * 4

In [ ]:
num *= 4

In [ ]:
num = num / 5

In [ ]:
num /= 5

In [ ]:
num = num // 5

In [ ]:
num //= 5

In [ ]:
num = num % 3

In [ ]:
num %= 3

In [ ]:
num = num ** 10

In [ ]:
num **= 10

# Special Operators

# Identity Operators

**is and is not** are the identity operators in Python. 

They are used to check if two values (or variables) are located on the same part of the memory.

In [57]:
num1 = 10
num2 = 10

In [58]:
id(num1)

140704505735248

In [59]:
id(num2)

140704505735248

In [60]:
num1 is num2

True

In [61]:
word1 = 'Python'
word2 = 'Python'

In [62]:
word1 is word2

True

In [63]:
l1 = [10, 20, 30]
l2 = [10, 20, 30]

In [64]:
l1 is l2

False

In [66]:
id(l1)

2623799090688

In [67]:
id(l2)

2623799037888

In [68]:
l3 = [40 ,50, 60]
l4 = l3

In [69]:
id(l4)

2623799449856

In [70]:
id(l3)

2623799449856

In [71]:
l3 is l4

True

In [72]:
l3.append(70)

In [73]:
l3

[40, 50, 60, 70]

In [74]:
l4

[40, 50, 60, 70]

In [19]:
num1 = 10
num2 = 10

print(num1 is num2)

True

In [20]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2)

False

In [50]:
s1 = "Shikhar"
s2 = "Shikhar"
print(s1 is not s2)

False

# MemberShip Operators

**in and not in** are the membership operators in Python. 
    
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and   dictionary).

In [75]:
list1 = [10,20,30,40,50,60]

In [78]:
70 in list1

False

In [79]:
70 not in list1

True

## Bitwise Operator

In [81]:
num1 = 12
num2 = 25

In [82]:
num1 & num2

8

In [83]:
num1 | num2

29

In [84]:
num1 ^ num2

21