## <font color = 'Darkgreen'>Sets

- Sets are mutable data types.
- Set is unordered collection of items.
- Set only allow unique values to be stored.

In [1]:
set1 = {10, 20, 30, 30, 40, 50, 50, 60, 70, 80, 90}

In [2]:
print(set1)

{70, 40, 10, 80, 50, 20, 90, 60, 30}

###### See above that we have only unique values in the set and they are unordered by default.

In [3]:
#indexing and slicing doesn't work in set since they are unordered
set1[3]

TypeError: 'set' object is not subscriptable

##### We can use set to remove duplicates from a list

In [4]:
list1 = [10, 20, 30, 30, 40, 50, 50, 60, 70, 80, 90]

In [5]:
list1 = list(set(list1))

In [6]:
#final result is a list with unique elements
list1

[70, 40, 10, 80, 50, 20, 90, 60, 30]

#### Inserting values into a set

In [8]:
#to insert one element into a set at a time
set1.add(100)

In [10]:
print(set1)

{100, 70, 40, 10, 80, 50, 20, 90, 60, 30}

In [11]:
#to insert multiple values into the set
set1.update({89, 45, 77})

In [12]:
print(set1)

{100, 70, 40, 10, 45, 77, 80, 50, 20, 89, 90, 60, 30}

#### Delete Values from a set

In [13]:
#remove an item from the set randomly
set1.pop()

100

In [15]:
#remove a particular item from the set
set1.remove(89)

In [16]:
#remove item using `discard` method
set1.discard(90)

##### Difference between remove and discard method is that remove gives error when the item we want to remove does not exist whereas discard does not throw any error in any case

In [17]:
set1.remove(900)

KeyError: 900

In [18]:
set1.discard(900)

#### Some Set Methods

- Union 
- Intersection
- Difference 
- Symmetric Difference
- isdisjoint
- issubset
- issuperset

In [19]:
set2 = {10,20,30,40,50,60,70}
set3 = {60,70,80,90,100,110,120}

In [20]:
#set of items from the both the sets which must be unique
set2.union(set3)

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120}

In [21]:
#common elements in both the sets
set2.intersection(set3)

{60, 70}

In [22]:
#items which are purely in set2 and no items belonging to set3
set2.difference(set3)

{10, 20, 30, 40, 50}

In [23]:
#items that belong to set3 and no items belonging to set2
set3.difference(set2)

{80, 90, 100, 110, 120}

In [24]:
#set of items from set2 and set3 except the common ones
set2.symmetric_difference(set3)

{10, 20, 30, 40, 50, 80, 90, 100, 110, 120}

In [26]:
#return True if no elements in two sets are common
set2.isdisjoint(set3)

False

In [27]:
set4 = {10, 30, 40, 50}

In [28]:
#if every element of set4 is in set2 then set4 is subset of set2
set4.issubset(set2)

True

In [29]:
#reverse of subset where every element of set4 must be in set2
set2.issuperset(set4)

True

## <font color = 'Darkgreen'>Dictionaries

- Dictionaries are unordered collection of items.
- It is a mutable data types.
- It stores key-value pairs.
- It only allow unique values.

In [30]:
dict1 = {'name': 'Shikhar', 'place': 'India', 'roles': ['Data Scientist', 'Data Science Trainer'], 
         'hobbies': ('Fitness', 'Football'), 'education': {1: 'Masters', 2: 'Bachelors'}}

In [31]:
dict1

{'name': 'Shikhar',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Trainer'],
 'hobbies': ('Fitness', 'Football'),
 'education': {1: 'Masters', 2: 'Bachelors'}}

#### Accessing the values of a dictionary

In [32]:
#to access a value from a dictionary we access the keys related to that value
dict1['roles']

['Data Scientist', 'Data Science Trainer']

In [33]:
#alternate way to access the values of a dictionary
dict1.get('roles')

['Data Scientist', 'Data Science Trainer']

In [34]:
#double indexing to access the data from inside the list of roles
dict1['roles'][1]

'Data Science Trainer'

In [35]:
#double indexing to access the data from inside the inner dictionary
dict1['education'][2]

'Bachelors'

#### Inserting values into a Dictionary

In [36]:
#to insert values in to a dictionary, we just need to provide new key and new value like dict[key] = value
dict1['new_key'] = 45

In [37]:
dict1

{'name': 'Shikhar',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Trainer'],
 'hobbies': ('Fitness', 'Football'),
 'education': {1: 'Masters', 2: 'Bachelors'},
 'new_key': 45}

In [38]:
dict1.update({'new_key2': (12, 43)})

In [39]:
dict1

{'name': 'Shikhar',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Trainer'],
 'hobbies': ('Fitness', 'Football'),
 'education': {1: 'Masters', 2: 'Bachelors'},
 'new_key': 45,
 'new_key2': (12, 43)}

#### Deleting values from a dictionary

In [40]:
#remove the last inserted pair from the dictionary
dict1.popitem()

('new_key2', (12, 43))

In [42]:
#remove a particular pair using its key
dict1.pop('new_key')

45

In [43]:
dict1

{'name': 'Shikhar',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Trainer'],
 'hobbies': ('Fitness', 'Football'),
 'education': {1: 'Masters', 2: 'Bachelors'}}

In [44]:
#alternate method of deleting a pair using del keyword
del dict1['place']

#### Some Dictionary Methods

In [45]:
#returns a copy of the dictionary dict1
dict1_copy = dict1.copy()

In [46]:
#returns a list of keys of dictionary
dict1.keys()

dict_keys(['name', 'roles', 'hobbies', 'education'])

In [47]:
#returns a list of values of dictionary
dict1.values()

dict_values(['Shikhar', ['Data Scientist', 'Data Science Trainer'], ('Fitness', 'Football'), {1: 'Masters', 2: 'Bachelors'}])

In [48]:
#Returns a list containing a tuple for each key value pair
dict1.items()

dict_items([('name', 'Shikhar'), ('roles', ['Data Scientist', 'Data Science Trainer']), ('hobbies', ('Fitness', 'Football')), ('education', {1: 'Masters', 2: 'Bachelors'})])